* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0); 
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(0, 0, 0);
}

@media (max-width: 991px) {
    .navbar-nav li {  
      border-bottom: 1px solid  #575766;
      display: block;
    }

.nav-items a nav-link {
    display: flex;
    background-color: rgb(58, 53, 53);
    justify-content: space-around;
    width: 30%;
}
.nav-link li{
    list-style: none;
}
.nav-link a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
}


.section .container_1 .h1 {
    font-family: 'Secular One',sans-serif;
	text-align: center;
	color: #f00;
}

.carousel-inner .carousel-item-active img {
    
    margin-left: auto;
    margin-right: auto;
    height: 90%;    
    width: 50%;
}

  h1 {
      font-family: 'Secular One', sans-serif;
      font-weight: 700;
      padding-bottom: 20px;
  }

  h2 {
      padding-bottom: 40px;
  }

 

  
